.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  background-image: var(--background-image-url);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* corners for header and footer */
.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  width: 25px;
  height: 25px;
  border: solid var(--corners-color);
  border-width: 1px 1px 0 0;
}

@media (max-width: 455px) {
  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 1;
  width: 25px;
  height: 25px;
  border: solid var(--corners-color);
  border-width: 0 0 1px 1px;
}

@media (max-width: 455px) {
  .decorated-zone::after {
    bottom: 10px;
    left: 10px;
  }
}

.header__rec {
  position: absolute;
  top: 20px;
  right: 48px;
  z-index: 1;
  display: var(--header-rec-state);
  color: var(--accent-color);
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

.header__rec::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 43px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

@media (max-width: 455px) {
  .header__rec {
    top: 10px;
    right: 38px;
  }
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  width: 100%;
  height: 100vh;
  min-height: 668px;
  margin-bottom: 60px;
  padding: 20px 20px 20px 0;
}

@media (max-width: 455px) {
  .header {
    margin-bottom: 40px;
    padding: 10px;
  }
}

.header__theme-menu {
  justify-self: center;
}

@media (max-width: 768px) {
  .header__theme-menu {
    justify-self: flex-end;
    align-self: center;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media (max-width: 768px) {
  .header__theme-menu-list {
    flex-direction: column;
  }
}

.header__theme-menu-item:hover {
  outline: 1px solid var(--button-color-hover);
}

.header__theme-menu-button {
  border: none;
  padding: 0 13px 2px;
  color: var(--button-color);
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: lowercase;
  background-color: inherit;
  cursor: pointer;
}

.header__theme-menu-button:focus {
  /* компенсация 1px для border, чтобы экран не съезжал вниз */
  margin-bottom: -1px;
  border-bottom: 1px solid;
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-color);
  pointer-events: none;
}

.header__title {
  color: var(--main-title-color);
  font-family: var(--font-family), sans-serif;
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 129.53px;
  text-transform: lowercase;
  text-shadow: 4px 4px 0 var(--main-title-shadow-color);
}

@media (max-width: 375px) {
  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

.header-block-item-title {
  justify-self: flex-end;
  align-self: center;
  width: calc(50% - 6px);
  color: var(--accent-color-theme-dark-header-text);
  font-family: var(--font-family), sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
}

@media (max-width: 455px) {
  .header-block-item-title {
    width: calc(100%);
  }
}

.link {
  position: relative;
  text-decoration: none;
  text-shadow: 2px 2px var(--link-shadow-color);
}

.link:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--content-text-color);
}

.link:focus {
  outline: 1px solid var(--content-text-color);
}

.block-item-title {
  background-color: var(--block-item-title);
}

.block-item-title-text {
  color: var(--block-item-title-text-color);
  font-family: var(--font-family), sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.section-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 100%;
  gap: 10px;
}

.title-decor {
  min-width: 315px;
  color: var(--title-decor-color);
  font-family: var(--font-family), sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

@media (max-width: 768px) {
  .title-decor {
    min-width: 236px;
  }
}

@media (max-width: 375px) {
  .title-decor {
    min-width: 100%;
  }
}

.section {
  display: flex;
  gap: 20px;
  width: 100%;
  margin-bottom: 80px;
  padding: 0 20px;
}

@media (max-width: 455px) {
  .section {
    margin-bottom: 50px;
    padding: 0 10px;
  }
}

.section-why {
  flex-direction: row;
}

.section-causes {
  flex-direction: column;
}

.section-advice {
  flex-direction: row;
}

@media (max-width: 570px) {
  .section {
    padding: 0 10px;
  }

  .section-why {
    flex-direction: column;
  }

  .section-advice {
    flex-direction: column;
  }
}

.section-causes__title {
  max-width: 315px;
}

.section-causes__blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 768px) {
  .section-causes__blocks {
    flex-direction: column;
  }
}

.section__blocks {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-advice__blocks__item-title-text {
  font-weight: 400;
}

.section-causes__blocks__item {
  flex-basis: calc((100% - 40px) / 3);
}

.block-item-text {
  color: var(--block-item-text-color);
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.images-gallery {
  margin-bottom: 60px;
}

@media (max-width: 375px) {
  .images-gallery {
    margin-bottom: 40px;
  }
}

.images-gallery-title {
  margin-bottom: 20px;
}

.images-gallery-title-text {
  color: var(--images-gallery-title-color);
  font-family: var(--font-family), sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.image-gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 315px);
  grid-template-rows: 260px 315px 428px;
  grid-template-areas:
    "sunset  sunset  ice-cream"
    "tape    books   ice-cream"
    "tape    street  street";
  gap: 20px;
}

@media (max-width: 1000px) {
  .image-gallery-container {
    grid-template-columns: repeat(3, 230px);
    grid-template-rows: 192px 230px 318px;
  }
}

@media (max-width: 745px) {
  .image-gallery-container {
    grid-template-columns: repeat(3, 161px);
    grid-template-rows: 153px 161px 254px;
  }
}

@media (max-width: 535px) {
  .image-gallery-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .image-gallery-container_sunset {
    width: 355px;
    height: 142px;
  }

  .image-gallery-container_ice-cream {
    width: 355px;
    height: 355px;
  }

  .image-gallery-container_tape {
    width: 355px;
    height: 237px;
  }

  .image-gallery-container_books {
    width: 355px;
    height: 355px;
  }

  .image-gallery-container_street {
    width: 355px;
    height: 237px;
  }
}

.image {
  background-position: center;
  background-size: cover;
}

.image-gallery-container_sunset {
  grid-area: sunset;
  background-image: url(../images/sunset.png);
}

.image-gallery-container_ice-cream {
  grid-area: ice-cream;
  background-image: url(../images/ice-cream.png);
}

.image-gallery-container_tape {
  grid-area: tape;
  background-image: url(../images/tape.png);
}

.image-gallery-container_books {
  grid-area: books;
  background-image: url(../images/books.png);
}

.image-gallery-container_street {
  grid-area: street;
  background-image: url(../images/street.png);
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  min-height: 668px;
}

.footer__title {
  color: var(--main-title-color);
  font-family: var(--font-family), sans-serif;
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 129.53px;
  text-transform: lowercase;
  text-shadow: 2px 2px 0 var(--main-title-shadow-color);
}

@media (max-width: 375px) {
  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
