:root {
  --accent-color: #ff0070;
}

.page {
  background-color: var(--accent-color-dark-theme);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-attachment: fixed;
}

.header {
  position: relative;
  width: 1024px;
  background-image: url(../images/cover-image-dark.png);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__theme-menu {
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  padding: 0 13px 2px;
  color: var(--accent-color);
  font-family: "IBM Plex mono";
  font-weight: 400;
  font-size: 18px;
  text-transform: lowercase;
  background-color: inherit;
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
}

.header__title {
  color: #db00ff;
  font-family: "IBM Plex mono", sans-serif;
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 129.53px;
  text-transform: lowercase;
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media(width <= 375px){
  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

.header__text {
  color: #000028;
  font-family: "IBM Plex mono", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
  width: 491px;
  min-height: 71px;
  align-self: flex-end;
  margin-right: 20px;
}

.header::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border: solid var(--accent-color);
  border-width: 1px 1px 0 0;
  z-index: 1;
  right: 20px;
  top: 20px;
}

.header::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border: solid var(--accent-color);
  border-width: 0 0 1px 1px;
  z-index: 1;
  left: 20px;
  bottom: 20px;
}

.header__rec {
  position: absolute;
  font-size: 18px;
  font-weight: 400;
  font-family: "IBM Plex mono", sans-serif;
  line-height: 25px;
  z-index: 1;
  right: 48px;
  top: 20px;
  color: var(--accent-color);
  text-transform: uppercase;
}

.header__rec-pulse {
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  z-index: 1;
  right: 29px;
  top: 28px;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.image-gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 315px);
  grid-template-rows: repeat(3, 315px);
  gap: 20px;
  grid-template-areas: 
    "sunset  sunset  ice-cream"
    "tape    books   ice-cream"
    "tape    street  street";
}

.image-gallery-container_sunset {
  background-image: url(../images/sunset.png);
  background-size: cover;
  background-position: center;
  grid-area: sunset;
}

.image-gallery-container_ice-cream {
  background-image: url(../images/ice-cream.png);
  background-size: cover;
  background-position: center;
  grid-area: ice-cream;
}

.image-gallery-container_tape {
  background-image: url(../images/tape.png);
  background-size: cover;
  background-position: center;
  grid-area: tape;
}

.image-gallery-container_books {
  background-image: url(../images/books.png);
  background-size: cover;
  background-position: center;
  grid-area: books;
}

.image-gallery-container_street {
  background-image: url(../images/street.png);
  background-size: cover;
  background-position: center;
  grid-area: street;
}

.footer__title {
  color: #db00ff;
  font-family: "IBM Plex mono", sans-serif;
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 129.53px;
  text-transform: lowercase;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media(width <= 375px){
  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
